
        <button *ngIf="isUser" id="but" [routerLink]="['/add-lot']">Add lot</button>
        <form class="filt" [formGroup]="form" (ngSumbit)="onSearch()">

            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" name="search" formControlName='search' type="text">
            </div>

            <div class="form-group">
                <label>Category:</label>
            <select class="form-control" name="category" formControlName='category'>
                <option disabled>Select category</option>
                <option *ngFor="let category of categories" value={{category.id}}>{{category.nameCategory}}</option>
            </select>  
            </div>
            
            <div class="form-group">
                <input type="checkbox" class="form-control" name="isopen" formControlName='isopen' value=true>Only Open
            </div>

            <div class="form-group">
                <label>Min start price:</label>
                <input type="number" class="form-control" name="minprice" formControlName='minprice' min="0" value="0" step="10.00" >
            </div>

            <div class="form-group">
                <label>Max start price:</label>
                <input type="number" class="form-control" name="maxprice" formControlName='maxprice' min="0" value="0" step="10.00" >
            </div>
            
            <div class="form-group">
                <label>Min start time:</label>
                <input type="datetime-local" class="form-control" name="startTime" formControlName='startTime'/>
            </div> 

            <div class="form-group">
                <label>Max start time:</label>
                <input type="datetime-local" class="form-control" name="endTime" formControlName='endTime'/>
            </div> 

            <div class="form-group but">
                <button (click)="onSearch()">Search</button>
                <button (click)="Reset()">Reset</button>
            </div> 
        </form>
       
        <table id="lots">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Button</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lot of lots">
                    <td><span>{{lot.title}}</span></td>
                    <td><span>{{lot.description}}</span></td>
                    <td><button [routerLink]="['/lot/', lot.id]">View Lot</button></td>
                </tr>
            </tbody>
        </table>
    