#lots {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  
#lots td, #lots th {
    border: 2px solid black;
    
    padding: 8px;
}
  

#lots th {
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: black;
    color: white;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
}

#but{
    margin-top: 20px;
    margin-right: 50px;
}


.form-group{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    outline: solid black 1px;
    background-color: black;
    padding: 5px;
    color: white;
}
.form-control{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 10px;
}

.but{
    display: block;
    padding: 0;
    outline: none;
    margin-right: 15px;
    float: right;
    background-color: transparent;
}

.form-group button{
    display: inline-block;
    margin-left: 10px;
}

.filt{
    margin-top: 10px;
    border: 4px dotted #000000;
    border-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}