#lots {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 30%;
}
  
#lots td, #lots th {
    border: 1px solid #ddd;
    
    padding: 8px;
}
  

#lots th {
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: black;
    color: white;
}

#lotsinfo {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}
  
#lotsinfo td, #lotsinfo th {
    border: 1px solid #ddd;
    
    padding: 8px;
}
  

#lotsinfo th {
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: black;
    color: white;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
}

.wonlot{
   text-align: center;
}

.close{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}