<h2 class="wonlot"> Your won lot</h2>
<table id="lots">
    <thead>
        <tr>
            <th>Lot</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bet of bets">
            <td><button (click)="GetLotById(bet.lotId)">LotInfo</button></td>
            <td>{{bet.betSize}}</td>
    
        </tr>
    </tbody>
</table>

<ng-container *ngIf="lot">
    <table id="lotsinfo">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Starting Price</th>
                <th>Min Price Increase</th>
            </tr>
        </thead>
        <tbody>
            <td>{{lot.title}}</td>
            <td>{{lot.description}}</td>
            <td>{{convertTime(lot.startTime)}}</td>
            <td>{{convertTime(lot.endTime)}}</td>
            <td>{{lot.startingPrice}}</td>
            <td>{{lot.minPriceIncrease}}</td>
        </tbody>
    </table>
    <button class="close" (click)="CloseTable()">Close</button>
</ng-container>

