.form-group{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 900;
}
.form-control{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.update-lot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-bottom: 50px;
}

#updatedtext{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}