<ng-container *ngIf="!lotwasupdated">
    <form  [formGroup]="form" (ngSumbit)="publish()">

        <div class="form-group">
            <label>Title:</label>
            <input class="form-control" name="title" formControlName='title'/>
            <div *ngIf="form.controls['title'].invalid && form.controls['title'].touched">Title is required.Min length 3. Max length 50.</div>
        </div>  
         
        <div class="form-group">
            <label>Description:</label>
            <textarea class="form-control" name="description" formControlName='description'></textarea>
            <div *ngIf="form.controls['description'].invalid && form.controls['description'].touched">Description is required. Min length 3. Max length 1000.</div>
        </div> 
    
        <div class="form-group">
            <label>StartTime:</label>
            <input type="datetime-local" class="form-control" name="startTime" formControlName='startTime'/>
            <div *ngIf="form.controls['startTime'].invalid && form.controls['startTime'].touched">StartTime is required!</div>
        </div> 
    
        <div class="form-group">
            <label>EndTime:</label>
            <input type="datetime-local" class="form-control" name="endTime" formControlName='endTime'/>
            <div *ngIf="form.controls['endTime'].invalid && form.controls['endTime'].touched">EndTime is required!</div>
        </div> 
    
        <div class="form-group">
            <label>StartingPrice:</label>
            <input class="form-control" name="startingPrice" formControlName='startingPrice'/>
            <div *ngIf="form.controls['startingPrice'].invalid && form.controls['startingPrice'].touched">StartingPrice is required!</div>
        </div>
    
        <div class="form-group">
            <label>MinPriceIncrease:</label>
            <input class="form-control" name="minPriceIncrease" formControlName='minPriceIncrease'/>
        
        </div>
        
        <div class="form-group">
            <label>Category:</label>
            <select class="form-control" name="categoryId" formControlName='categoryId'>
                <option disabled>Select category</option>
                <option  *ngFor="let category of categories" value={{category.id}}>{{category.nameCategory}}</option>
            </select>  
            <div *ngIf="form.controls['categoryId'].invalid && form.controls['categoryId'].touched">Category is required!</div>
        </div>
    
        <button class="update-lot" (click)="publish()">Update lot</button>
        
    </form>
    
</ng-container>

<ng-container *ngIf="lotwasupdated">
<h2 id="updatedtext">Lot was updated</h2>
</ng-container>