<nav class="topnav">
    <a routerLink="home">Home</a>
    <a routerLink="lots">Lots</a>
    <a id="right" routerLink="account" >Account</a>
</nav>
<router-outlet></router-outlet>
<div class="footer">
    <p>Maliarenko Oleksandr © 2022 FinalProject</p>
</div>
