.log{
    border: 4px dotted black;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.form-group{
    display: block;
    margin-top: 20px;
    text-align: center;
  
}
.form-control{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
.logout{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
.butreg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

#textinfo{
    text-align: center;

}


.info{
    border: 4px dotted black;
    border-radius: 20px;
    width: 20%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
}