<ng-container *ngIf="!isUser&&!isRegister">
    <div class="log">
        <form [formGroup]="form" (ngSumbit)="login()">

            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" name="email" formControlName='email'/>
                <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">Email is required</div>
            </div>  
             
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" name="password" formControlName='password'/>
                <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched">Password is required</div>
            </div> 
        
    
            <button class="login" [disabled]="!form.valid" (click)="login()">Login</button>
            <button class="butreg" (click)="isRegister=true">Register</button>
        
        </form>
    </div>
    
</ng-container>

<ng-container *ngIf="isUser&&!isAdmin">
    <div class="info">
        <p id="textinfo">Hi, {{userEmail}}</p>
        <button class="logout" (click)="logout()">Log out</button>
    </div>
    <app-useracc></app-useracc>
</ng-container>

<ng-container *ngIf="isAdmin">
    <div class="info">
        <p id="textinfo">{{userEmail}}</p>
        <button class="logout" (click)="logout()">Log out</button>
    </div>
    <app-adminacc></app-adminacc>
</ng-container>

<ng-container *ngIf="isRegister">
    <form [formGroup]="frm" (ngSumbit)="reg()">

        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" name="email" formControlName='email'/>
            <div *ngIf="frm.controls['email'].invalid && frm.controls['email'].touched">Email is required</div>
        </div>  
         
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" name="password" formControlName='password'/>
            <div *ngIf="frm.controls['password'].invalid && frm.controls['password'].touched">Password is required</div>
        </div> 
        
        <div class="form-group">
            <label>Confirm Password:</label>
            <input type="password" class="form-control" name="passwordconfirm" formControlName='passwordconfirm'/>
            <div *ngIf="frm.controls['passwordconfirm'].invalid && frm.controls['passwordconfirm'].touched">Confirm Password is required</div>
        </div> 

        <div class="form-group">
            <label>Year:</label>
            <input class="form-control" name="year" formControlName='year'/>
            <div *ngIf="frm.controls['year'].invalid && frm.controls['year'].touched">Year is required</div>
        </div>  

        <div class="form-group">
            <label>Firstname:</label>
            <input class="form-control" name="firstname" formControlName='firstname'/>
        </div>  

        <div class="form-group">
            <label>Lastname:</label>
            <input class="form-control" name="lastname" formControlName='lastname'/>
        </div> 

        <button class="login" [disabled]="!frm.valid" (click)="reg()">Register</button>
    </form>
</ng-container>
