.form-group{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 900;
}
.form-control{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.add-bet{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-bottom: 50px;
}