<form [formGroup]="form" (ngSumbit)="publish()">

<div class="form-group">
    <label>BetSize:</label>
    <input class="form-control" name="betSize" formControlName='betSize'/>
</div>  
 
<button class="add-bet" [disabled]="form.controls['betSize'].invalid" (click)="publish()">Add bet</button>

</form>

