    
  
.bg-image {
    height: 900px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.img1 { background-image: url("https://geauction.com/wp-content/uploads/2018/07/5-Auction-Tips-for-Beginners2.jpg"); }
.img2 { background-image: url("https://edwardmellor.co.uk/wp-content/uploads/2020/04/online-auction.jpg"); }
.img3 { background-image: url("https://www.mashvisor.com/blog/wp-content/uploads/2019/06/How-Do-Online-Real-Estate-Auctions-Work-1.jpg"); }
.img4 { background-image: url("https://hoa.org.uk/wp-content/uploads/2021/04/House-and-gavel.jpg"); }

.bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 350px;
    padding: 20px;
    text-align: center;
}

  