<ng-container *ngIf="bet">
    <table id="bet">
        <thead>
            <th *ngIf="isAdmin">BetId</th>
            <th *ngIf="isAdmin">LotId</th>
            <th>Last Bet Size</th>
            <th *ngIf="isAdmin">ApplicationUserId</th>
        </thead>
        <tbody>
            <td *ngIf="isAdmin">{{bet.id}}</td>
            <td *ngIf="isAdmin">{{bet.lotId}}</td>
            <td>{{bet.betSize}}</td>
            <td *ngIf="isAdmin">{{bet.applicationUserId}}</td>
        </tbody>
    </table>
</ng-container>


