#bet {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
  
#bet td, #bet th {
    border: 2px solid black;
    padding: 8px;
}
  

#bet th {
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: black;
    color: white;
}