<div class="adminmenu">
    <div id="title"><p>Bet Menu</p></div>
    <table id="menu">
        <tbody>
            <tr>
                <td id="main">GetAll</td>
                <td><button (click)="GetAll()">Click</button></td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="allBets">
        <table id="bets">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>LotId</th>
                    <th>BetSize</th>
                    <th>ApplicationUserId</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bet of allBets">
                    <td>{{bet.id}}</td>
                    <td><a [routerLink]="['/lot/',bet.lotId]">{{bet.lotId}}</a></td>
                    <td>{{bet.betSize}}</td>
                    <td>{{bet.applicationUserId}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <table id="menu">
        <tbody>
            <tr>
                <td id="main">GetById</td>
                <td><button *ngIf="!isGetById" (click)="isGetById=true">Click</button> <button *ngIf="isGetById" (click)="isGetById=false">Click</button></td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="isGetById">
        
        <div id="betform">
            <input type="number" [(ngModel)]="betId" name="id"  min="1" value="0" step="1">
            <button (click)="GetById()">Click</button>
        </div>
        

        <table *ngIf="bet" id="bets">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>LotId</th>
                    <th>BetSize</th>
                    <th>ApplicationUserId</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>{{bet.id}}</td>
                    <td><a [routerLink]="['/lot/',bet.lotId]">{{bet.lotId}}</a></td>
                    <td>{{bet.betSize}}</td>
                    <td>{{bet.applicationUserId}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <table id="menu">
        <tbody>
            <tr>
                <td id="main">GetAllWinnerBetforAllLots</td>
                <td><button (click)="GetAllWinnerBetforAllLots()">Click</button></td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="bets">
        <table id="bets">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>LotId</th>
                    <th>BetSize</th>
                    <th>ApplicationUserId</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bet of bets">
                    <td>{{bet.id}}</td>
                    <td><a [routerLink]="['/lot/',bet.lotId]">{{bet.lotId}}</a></td>
                    <td>{{bet.betSize}}</td>
                    <td>{{bet.applicationUserId}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <table id="menu">
        <tbody>
            <tr>
                <td id="main">DeleteById</td>
                <td><button *ngIf="!isDeleteById" (click)="isDeleteById=true">Click</button> <button *ngIf="isDeleteById" (click)="isDeleteById=false">Click</button></td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="isDeleteById">
        
        <div id="betform">
            <input type="number" [(ngModel)]="betIdforDelete" name="id"  min="1" value="0" step="1">
            <button (click)="DeleteById()">Click</button>
        </div>

    </ng-container>



    <div id="title"><p>Category Menu</p></div>

    <table id="menu">
        <tbody>
            <tr>
                <td id="main">GetAll</td>
                <td><button (click)="GetAllCategories()">Click</button></td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="allCategories">
        <table id="bets">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>NameCategory</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of allCategories">
                    <td>{{category.id}}</td>
                    <td>{{category.nameCategory}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <table id="menu">
        <tbody>
            <tr>
                <td id="main">Add</td>
                <td><button *ngIf="!isAddCategory" (click)="isAddCategory=true">Click</button> <button *ngIf="isAddCategory" (click)="isAddCategory=false">Click</button></td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="isAddCategory">
        
        <div id="betform">
            <label>NameCategory:</label>
            <input [(ngModel)]="nameCategoryforAdd" name="NameCategoryforAdd">
            <button (click)="AddCategory()">Click</button>
        </div>

    </ng-container>

    <table id="menu">
        <tbody>
            <tr>
                <td id="main">DeleteById</td>
                <td><button *ngIf="!isDeleteByIdCategory" (click)="isDeleteByIdCategory=true">Click</button> <button *ngIf="isDeleteByIdCategory" (click)="isDeleteByIdCategory=false">Click</button></td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="isDeleteByIdCategory">
        
        <div id="betform">
            <input type="number" [(ngModel)]="categoryIdForDelete" name="id"  min="1" value="0" step="1">
            <button (click)="DeleteByIdCategory()">Click</button>
        </div>

    </ng-container>



    <table id="menu">
        <tbody>
            <tr>
                <td id="main">UpdateLot</td>
                <td><button *ngIf="!isUpdateCategory" (click)="isUpdateCategory=true">Click</button> <button *ngIf="isUpdateCategory" (click)="isUpdateCategory=false">Click</button></td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="isUpdateCategory">
        
        <div id="betform">
            <label>IdCategory:</label>
            <input type="number" [(ngModel)]="idCategoryForUpdate" name="id"  min="1" value="0" step="1">
            <label>NameCategory:</label>
            <input [(ngModel)]="nameCategoryForUpdate" name="nameCategoryForUpdate">
            <button (click)="UpdateCategory()">Click</button>
        </div>

    </ng-container>
   
    <div id="title"><p>Account Menu</p></div>

    <table id="menu">
        <tbody>
            <tr>
                <td id="main">AssignUserToRole</td>
                <td><button *ngIf="!isAssignUserToRole" (click)="isAssignUserToRole=true">Click</button> <button *ngIf="isAssignUserToRole" (click)="isAssignUserToRole=false">Click</button></td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="isAssignUserToRole">
        <div id="betform">
            <label>UserId:</label>
            <input [(ngModel)]="idForAddRole" name="emailForAddRole" >
            <label>Role:</label>
            <input [(ngModel)]="roleForAdd" name="roleForAdd">
            <button (click)="AssignUserToRole()">Click</button>
        </div>
    </ng-container>

    <table id="menu">
        <tbody>
            <tr>
                <td id="main">RemoveUserToRole</td>
                <td><button *ngIf="!isRemoveUserToRole" (click)="isRemoveUserToRole=true">Click</button> <button *ngIf="isRemoveUserToRole" (click)="isRemoveUserToRole=false">Click</button></td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="isRemoveUserToRole">
        <div id="betform">
            <label>UserId:</label>
            <input [(ngModel)]="idForRemoveRole" name="emailForAddRole" >
            <label>Role:</label>
            <input [(ngModel)]="roleForRemove" name="roleForAdd">
            <button (click)="RemoveUserToRole()">Click</button>
        </div>
    </ng-container>
</div>