#menu {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 30%; 
}
  
#menu td, #menu th {
    border: 4px solid black;
    width: 80%;
    padding: 8px;
}


button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
}

#main{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: black;
    color: white;
}

#bets {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 30%;
}
  
#bets td, #bets th {
    border: 1px solid #ddd;
    
    padding: 8px;
}
  

#bets th {
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: black;
    color: white;
}
#bets a{
    color: blue;
    text-decoration: none;
}

#bets a:hover{
    background-color: black;
    color: white;
}

#title{
    width: 15%;
    text-align: center;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
}

#betform{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 900;
}
#betform input{
    display: block;

    margin-left: auto;
    margin-right: auto;
}

#betform button{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}