
<ng-container *ngIf="lot&&!lotwasdeleted&&!lotwasupdated">
    <button *ngIf="isUser&&userId==lot.applicationUserId" id="button" (click)="lotwasupdated=true">Update Lot</button>
    <button *ngIf="isAdmin||userId==lot.applicationUserId" id="but" (click)="del(lot.id)">Delete Lot</button>
    <table id="lot">
        <thead>
            <th *ngIf="isAdmin">LotId</th>
            <th>Title</th>
            <th>Open/Closed</th>
            <th>Description</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Starting Price</th>
            <th>Min Price Increase</th>
            <th *ngIf="isAdmin">CategoryId</th>
            <th *ngIf="isAdmin">BetIdWinner</th>
            <th *ngIf="isAdmin">ApplicationUserId</th>
        </thead>
        <tbody>
            <td *ngIf="isAdmin">{{lot.id}}</td>
            <td>{{lot.title}}</td>
            <td *ngIf="lot.isClosed">Closed</td>
            <td *ngIf="!lot.isClosed">Open</td>
            <td>{{lot.description}}</td>
            <td>{{convertTime(lot.startTime)}}</td>
            <td>{{convertTime(lot.endTime)}}</td>
            <td>{{lot.startingPrice}}</td>
            <td>{{lot.minPriceIncrease}}</td>
            <td *ngIf="isAdmin">{{lot.categoryId}}</td>
            <td *ngIf="isAdmin">{{lot.betIdWinner}}</td>
            <td *ngIf="isAdmin">{{lot.applicationUserId}}</td>
        </tbody>
    </table> 
    <app-bet-details  [id]="lot.id"></app-bet-details>
    <app-bet-form *ngIf="!lot.isClosed&&isUser" [lotId]="lot.id"></app-bet-form>
</ng-container>

<ng-container *ngIf="lotwasupdated">
    <app-lot-update-form [lot]="lot"></app-lot-update-form>
</ng-container>


<ng-container *ngIf="lotwasdeleted">
    <h2 id="deletedtext">Lot was deleted</h2>
</ng-container>

