#lot {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
  
#lot td, #lot th {
    border: 2px solid black;
    
    padding: 8px;
}
  

#lot th {
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: black;
    color: white;
}

#but{
    display: block;
    background-color: red;
    color: white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 30px;
    width: 100px;
}

#button{
    display:block;
    background-color: black;
    color: white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 30px;
    width: 100px;
}


#deletedtext{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}